@model Gun2_11_17_MVCCodeFirst.Models.Ders
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    //İstediğimiz bilgileri araya sızıntı olmasın başka kaynaklar erişemesin diye bir key tutuyor.
    //Bu key istemcide ki keyle eşleşirse gönderiyor bilgileri
    //Bunu Controllerda validateforgery token karşılayacak
    <div class="form-horizontal">
        <h4>Ders</h4> <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=>model.ID)

        @*Hidden for htmlde görünmüyor ama html içerisinde bulunan bilgi id üzerinden güncelleme yapabilmek için clien e gönderiliyor*@

        <div class="form-group">
            <div class="col-md-10">

                @Html.LabelFor(model => model.DersAdi, htmlAttributes: new { @class = "control-label-col-md-2" })
                @Html.EditorFor(model => model.DersAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DersAdi, "", new { @class = "text-deger" })
            </div>
            <div class="col-md-10">

                @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label-col-md-2" })
                @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-deger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("back to list", "Index")
    </div>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

    }

}