@model Gun2_11_17_MVCCodeFirst.Models.Ogrenci
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Eğitmen</h4>
    <br />
    <dl class="dl-horizontal">
        @*Listeleme yapar*@
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)

            @*DisplayNameFor dediğim propertyde ki değeri okur.Kullanıcının gördüğü*@
            @*dt dediğimde tanım yapar*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdSoyad)

            @*DisplayFor ise değeri label içerisine yazdırır.*@
            @*dd dediğimde açıklama*@

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DogumTariihi)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.DogumTariihi)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MezunMu)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.MezunMu)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ortalama)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ortalama)

        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })|
    @Html.ActionLink("Back to List", "Index")
</p>